<div class="divider" id="humidity">Humidité</div>
<div class="humidite-container">
  <div class="humidite-ligne">
    <h3>humidité actuelle</h3>
    <span class="humidite-valeur">{{ valeur }}%</span>
  </div>
  <div class="btn-group">
    <button (click)="rafraichir()">Rafraîchir</button>
    <button [routerLink]="['/historiqueHumidite', sensorId]">Historique</button>
  </div>
</div>
<div class="range-slider">
  <input #rangeInput type="range" min="0" max="100" [value]="valeur" (input)="onInput()" (change)="envoyer()" />
  <span #rangeValue class="range-value">{{ valeur }}</span>
</div>