<div class="divider" id="temperature">Température</div>
<div class="temperature-container">
  <div class="temperature-ligne">
    <h3>Température actuelle</h3>
    <span class="temperature-valeur">{{ temperature }}°C</span>
  </div>
  <div class="btn-group">
    <button (click)="rafraichir()">Rafraîchir</button>
    <button (click)="voirHistorique()">Historique</button>
  </div>
  <div *ngIf="afficherHistorique">
  <h4>Historique :</h4>
  <ul>
    <li *ngFor="let mesure of historique">
      {{ mesure.takenAtLocal }} — {{ mesure.value }} °C
    </li>
  </ul>
</div>

</div>