<section class="bodyCapteur">
  <h2>Nom de la serre:</h2>
  <p><strong>Nom actuel :</strong> <span>{{ nomSerre }}</span></p>

  <!-- Ajoute ceci pour permettre à tous les utilisateurs de modifier le nom -->
  <div class="changer-nom-capteur">
    <input type="text" [(ngModel)]="nouveauNom" placeholder="Nouveau nom de la serre" />
    <button (click)="modifierNomCapteur()">Modifier le nom</button>
    <p>{{ messageNom }}</p>
  </div>

  <!-- Capteurs -->

  <!-- Température -->
  <ng-container *ngFor="let capteur of capteurs">
    <app-temperature *ngIf="capteur.type === 'temperature'" [sensorId]="capteur._id"></app-temperature>
  </ng-container>

  <!-- Humidité -->
  <ng-container *ngFor="let capteur of capteurs">
    <app-humidimetre *ngIf="capteur.type === 'humidity'" [sensorId]="capteur._id"></app-humidimetre>
  </ng-container>

  <!-- Lampe -->
  <ng-container *ngFor="let capteur of capteurs">
    <app-lampe *ngIf="capteur.type === 'led'" [sensorId]="capteur._id"></app-lampe>
  </ng-container>