html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


/*Palette de couleur du projet*/
:root {
  --primary-color: #94A880;
  --secondary-color: #F9CEBB;
  --accent-color: #284A2D;
  --accent-color2: #D97F63;
  --neutral-color: #F3EFE4;
}