<section class="tab-content" id="compte">
    <h2>Mon compte</h2>
    <div class="ligne-separation"></div>
    <div class='sectionCompte'>
        <p>Prénom : <span id="nomUtilisateur">[à remplir]</span></p>
        <p><strong>Nom complet :</strong> <span id="nomCompletUtilisateur">–</span></p>
        <p><strong>Email :</strong> <span id="emailUtilisateur">–</span></p>
        <p>*Veillez contacter votre administrateur pour changer vos informations de votre compte.</p>
    </div>
<button type="button" class="fill">Se déconnecter</button>
</section>

