<section class="header">
    <app-header></app-header>
</section>

<section class="bodyAccueil">
    <section class="section-serre">
        <app-serre></app-serre>
    </section>

    <section class="formulaire">
        <section class="section-formulaire">
            <app-formulaire-connexion></app-formulaire-connexion>
        </section>

        <section class="backgroundFormulaire">
            <app-background-formulaire></app-background-formulaire>
        </section>
    </section>
</section>