.bodyAccueil {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.section-serre {
    margin-top: 70px;
    margin-left: 0px;
}

.formulaire {
    position: relative;
    width: 500px;
    height: 600px;
}

.backgroundFormulaire {
    position: absolute;
    top: -20%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.section-formulaire {
    position: absolute;
    top: 50%;
    left: 68%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}